{% extends "app/base.html" %}
{% load static %}

{% block contenido_fh %}
<div class="container mt-5">
    <h2>Indicadores Económicos</h2>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Indicador</th>
                <th>Valor</th>
                <th>Unidad de Medida</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.valor }}</td>
                <td>{{ value.unidad_medida }}</td>
                <td>{{ value.fecha|date:"d-m-Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

