{% extends "app/base.html" %}
{% load static %}
{% load humanize %}

{% block contenido_fh %}
    <!--ESTILOS DE NOSOTROS-->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .text-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: justify;
        }
        h1 {
            text-align: center;
        }
        p {
            margin-top: 20px;
        }
    </style>

    <!--CONTENIDO-->
    <div class="text-container">
        <br>
        <h1>FERREHOUSE</h1>
        <p>La industria de la construcción y ferretería en Chile ha experimentado un crecimiento sostenido desde la década de los 50, impulsada
            por el desarrollo urbano y la expansión de infraestructuras. Esto ha generado una demanda creciente de herramientas, materiales
            de construcción y accesorios diversos, como taladros, martillos, tornillos, pinturas, materiales eléctricos, etc. Este auge ha llevado
            al surgimiento de múltiples fabricantes y la aparición de diversas marcas que ofrecen un amplio abanico de opciones para satisfacer
            los gustos y necesidades de los clientes.</p>

        <p>Con el incremento de proyectos de construcción y renovación, también surgieron distribuidoras especializadas en abastecer a las
            ferreterías y empresas constructoras. Estas distribuidoras han evolucionado a lo largo del tiempo, pasando de operaciones
            exclusivamente físicas a modelos híbridos que combinan presencia física con ventas en línea, facilitando así las compras y
            ofreciendo mayor comodidad a los clientes.</p>

        <p>En Chile, el desarrollo de este sector no fue muy distinto, con un incremento significativo de tiendas de ferretería y construcción en
            los años 60. Esto permitió un mayor acceso a herramientas y materiales de calidad sin la necesidad de importarlos. Para los años
            80, ya existían numerosas tiendas dedicadas a la venta y distribución de estos productos.</p>

        <p>"FERREHOUSE" es una de estas distribuidoras, establecida en la comuna de Santiago , desde la década de los 80. Cuenta con 4
            sucursales en la región metropolitana y 3 sucursales en regiones con planes de expansión en todo Chile.
            En "FERREHOUSE", se puede encontrar una amplia gama de productos, desde herramientas manuales y eléctricas, pinturas,
            materiales eléctricos, hasta accesorios y artículos de seguridad. Trabajan con marcas reconocidas del sector como Bosch, Makita,
            Stanley y Sika, ofreciendo así diversidad y calidad en sus productos.</p>

        <p>Cada tienda de "FERREHOUSE" tiene una estructura organizativa clara, con roles definidos para distintas tareas, como
            administradores, vendedores, bodegueros y contadores, cada uno con responsabilidades específicas en la gestión de ventas,
            pedidos, inventario y finanzas.</p>

        <p>Cada tienda de "FERREHOUSE" tiene una manera organizada y eficiente de trabajar, lo que se refleja en la definición de roles
            específicos para diferentes tareas en cada sucursal.</p>

        <p style="text-align: center;"><b>"PÁGINA DESARROLLADA POR MATEO FLORES Y CLAUDIO RODRÍGUEZ"</b></p>
    </div>
{% endblock %}
